<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>{% block title %}Geek Brains{% endblock %}</title>
</head>
<body>

{% block main_menu %}
    <nav class="container navbar">
        <ul  class="nav">
            <li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="/product">Products</a></li>

            {% if auth == false %}
                <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/registration">Registration</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/personal">Personal</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        <div id="cart"></div>
    </nav>
{% endblock %}

<header class="container">
    <h1>{{header}}</h1>
</header>

<main class="container">
    {% block main %}
    {% endblock %}
</main>

{{ include('footer.twig') }}


<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/Cart.js"></script>
<script src="/js/main.js"></script>
</body>
</html>