{% extends "layout.twig" %}

{% block main %}
    {{ error }}
    <form action="/user/authentication/" method="post">
        <div class="form-row">
            <label class="col">
                Логин:
                <input type="text" name="login" class="form-control" placeholder="Логин">
            </label>

            <label class="col">
                Пароль:
                <input type="password" name="password" class="form-control" placeholder="Пароль">
            </label>
        </div>
        <div class="form-row">

            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
{% endblock %}