<div class="row justify-content-center">
    <div class="col-4 p-2">
        {{PERSONALAREATEXT}}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 p-2">
        Имя: {{PERSONALAREANAME}}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 p-2">
        Логин: {{PERSONALAREALOGIN}}
    </div>
</div>
{{ORDERS}}